<div class="container">
  <div class="row mt-3 mb-2 text-center">
    <div class="col-12">
      <h2 class="font-primary">Lista de Personas</h2>
    </div>
  </div>

  <mat-list role="list">
    <cdk-virtual-scroll-viewport itemSize="64"
                                 maxBufferPx="128"
                                 minBufferPx="64">
      <mat-list-item *cdkVirtualFor="let person of people"
                     role="listitem"
                     class="list-item my-1">
        {{person.firstName}} {{person.lastName}}
        <div class="spacer"></div>
        <button mat-icon-button>
          <mat-icon>border_color</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </cdk-virtual-scroll-viewport>
  </mat-list>

  <button mat-fab
          class="add-button"
          color="primary">
    <mat-icon class="font-white">add</mat-icon>
  </button>
</div>
