<mat-toolbar class="toolbar"
             color="primary">
  <mat-toolbar-row>
    <span class="font-white">Angular Fundamentals</span>
    <span class="spacer"></span>
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
      <mat-icon class="font-white">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
              (click)="logout()">
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
